.profile-container {
    padding: 30px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h2 {
    font-size: 2em;
}

.profile-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "column-2"
                         "column-1";
    grid-row-gap: 2em;
}

@media (min-width: 670px){
    .profile-content {
        grid-template-columns: min-content 1fr;
        grid-template-areas: "column-1 column-2";
    }
}

.info {
    grid-area: column-1;
}

.classes {
    padding: 0 2em;
    grid-area: column-2;
}

.search-form {
    --field-height: 2em;
    display: flex;
    align-items: center;
}

.search-form input {
    height: var(--field-height);
    border-radius: 10px 0 0 10px;
    border: 1px solid #999999;
    padding: .5em
}

.search-form button {
    height: var(--field-height);
    border-radius: 0 10px 10px 0;
    border: 1px solid #999999;
}

.classes table {
    width: 100%;
    text-align: left;
    box-shadow: 0 0 3px black;
    border-collapse: collapse;
}

.classes table thead {
    background-color: #aaaaaa;
}

.classes table th, .classes table td {
    padding: .5em;
}

.classes table tbody tr:nth-child(odd) {
    background-color: #dddddd;
}

.classes table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

a.edit-btn {
    background-color: darkred;
    color: white;
    font-size: 20px;
    border: 1.5px solid indianred;
    padding: .25em .5em;
    border-radius: 10px;
}

.menus {
    display: flex;
    width: fit-content;
    align-items: center;
}

.menus a {
    display: flex;
    align-items: center;
    margin-right: .5em;
    padding: .25em;
}

.menus a:hover {
    background-color: darkgray;
    transition: .5s background-color;
}

.menus a i {
    color: green;
}