* {
	--primary-color: #40539b;
	--secondary-color: #6b8fff;
	--accent-color: #eec22a;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: white
}
header {
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	align-items: center;
	justify-items: end;
	margin: 20px;
}

header nav ul li a {
	padding: 1em;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	margin: .25em;
}

header nav ul li a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, .2);
}

header nav ul li.register a {
	border: 3px solid white;
}

header img {
	height: 10px;
}

main {
	/*background-color: #dddddd;*/
	display: flex;
	flex-direction: column;
	padding: 1em 0;
}

@media (min-width: 670px){
	main {
		width: 90%;
		justify-self: center;
	}
}

@media (min-width: 1200px) {
	main {
		width: 80%;
		justify-self: center;
	}
}

footer {
	background-color: var(--primary-color);
	display: flex;
	padding: 2.5em;
	color: white;
	flex-direction: column;
}

form input, form textarea {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #999999;
}

form input:not([type='checkbox']) {
    width: 100%;
}

form label {
    margin-top: .5em;
}

form:not(.default) button {
    align-self: start;
    font-size: 20px;
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #999999;
    background-color: var(--accent-color);
    cursor: pointer;
}

span.tag {
	width: fit-content;
	padding: .25em;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
}

span.tag.error {
	color: white;
	background-color: darkred;
	border-color: indianred;
}

span.tag.success {
	color: white;
	background-color: darkgreen;
	border-color: forestgreen;
}

span.error ul {
	list-style: none;
	display: inline;
}

span.error ul li {
	display: inline;
}