* {
	--primary-color: #40539b;
	--secondary-color: #8869ff;
	--accent-color: #ee8127;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: currentColor;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}

header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: white
}
header {
	font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	align-items: center;
	justify-items: end;
}

header nav ul li {
	padding: 1em;
	border-radius: 10px;
}

header nav ul li a {
	text-decoration: none;
	color: white;
}

header nav ul li:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, .2);
}

header nav ul li.register {
	border: 3px solid white;
}

header img {
	height: 10px;
}

main {
	background-color: #dddddd;
	display: flex;
	flex-direction: column;
}

@media (min-width: 670px){
	main {
		width: 90%;
		justify-self: center;
	}
}

@media (min-width: 1200px) {
	main {
		width: 80%;
		justify-self: center;
	}
}

.icon-input {
	display: flex;
	flex-direction: row;
	padding: 1em;
	align-items: center;
}

.icon-input i.material-icons {
	background-color: darkgrey;
	padding: 100%;
	border-radius: 5px 0 0 5px;
	position: relative;
	top: .3px;
}

.icon-input input.styled {
	font-size: 15px;
	padding: 5px;
	border-radius: 0 5px 5px 0;
	outline: none;
	border: 1px solid darkgray;
}

input.styled {
	border-radius: 5px;
	outline: none;
	border: 1px solid darkgray;
	width: 100%;
}
footer {
	background-color: var(--primary-color);
}
