<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Team Finder">

	<title>{{ page_title }}</title>

    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	{% block head_extra %}
	{% endblock head_extra %}
</head>
<body>
	{% block header %}
		<header>
            <h1><a href="{% url 'home' %}">Team Finder</a></h1>
			<nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'tinder:main_menu' %}">Meu perfil</a></li>
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    {% else %}
                        <li class="login"><a href="{% url 'login' %}">Login</a></li>
                        <li class="register"><a href="{% url 'register' %}">Cadastre-se!</a></li>
                    {% endif %}
                </ul>
			</nav>
		</header>
	{% endblock header %}

	{% block main %}
		<main class="container row">
			{% block main_content %}
			{% endblock main_content %}
		</main>
	{% endblock main %}

	{% block footer %}
		<footer class="page-footer green darken-3">
			<div class="row container">
				<p>Projeto Django básico</p>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<p>&copy; 2019 - Diego Cardoso Nunes e Luís Eduardo Borges</p>
				</div>
			</div>
		</footer>
	{% endblock footer %}
	{% block end_scripts %}
	{% endblock end_scripts %}
</body>
</html>
