{% extends 'core/base.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'tinder/css/review.css' %}">
    <link rel="stylesheet" href="{% static 'tinder/css/activity.css' %}">
{% endblock %}

{% block main_content %}
    <h2>Escolha as habilidades necessárias para realizar a tarefa!</h2>
    <form action="{% url 'tinder:match' group.id %}">
        <div class="classes">
            <table>
                <thead>
                    <tr>
                        <th>Habilidade</th>
                        <th>Nível</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ form.select }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><i class="material-icons">add</i>Adicionar Habilidade</td>
                    </tr>
                </tfoot>
            </table>
        </div>
     </form>
{% endblock %}