{% extends 'core/base.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'tinder/css/review.css' %}">
{% endblock %}

{% block main_content %}
    <h2>{{ group.name }}</h2>
    Líder: {{ group.leader }}<br>
    Número de membros: {{ group.get_number_of_members }}<br>
    Fundação: {{ group.foundation }}
    <br>
    <br>
    <div class="classes">
        <div class="heading">

            <div class="menus">
                {% if user.profile in group.members.all or user.profile == group.leader %}
                    <a href="{% url 'tinder:activity-group' group.id %}"><i class="material-icons">ballot</i>Buscar duplas</a>
                {% else %}
                    <a href="{% url 'tinder:join_group' group.id%}"><i class="material-icons">person_add</i>Juntar-se no grupo</a>
                {% endif %}
            </div>
            <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                        <span class="tag {{ message.tags }}">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Integrantes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ group.leader }} (Líder)</td>
                </tr>
                {% for member in group.members.all %}
                    <tr>
                        <td>{{ member }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}