{% extends 'core/base.html' %}

{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'tinder/css/review.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.min.js"></script>
{% endblock head_extra %}

{% block main_content %}
    <div class="profile-container">
        <div class="profile-content">
            <div class="info">
                <div class="heading">
                    <h2>Perfil</h2>
                    <a class="edit-btn" href="{% url 'edit_profile' %}">Editar</a>
                </div>
                <img src="{{ user.profile.avatar.url }}" alt="">
                <p>{{ user.first_name }}</p>
                <p>{{ user.profile.shortbio }}</p>
            </div>
            <div class="classes">
                <div class="heading">
                    <h2>Meus grupos</h2>
                    <div class="menus">
                        <a href="{% url 'tinder:create_group' %}"><i class="material-icons">add</i>Criar Grupo</a>
                        <form class="search-form default">
                            <input type="text" class="group-search" placeholder="Pesquisa por grupos..." name="search">
                            <button><i class="material-icons">search</i></button>
                        </form>
                    </div>
                </div>
                <div class="messages">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Grupo</th>
                            <th>Líder</th>
                            <th>Número de membros</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if leading or member %}
                            {% for group in leading %}
                                <tr>
                                    <td>{{group.name}}</td>
                                    <td>{{group.leader}}</td>
                                    <td>{{group.get_number_of_members}}</td>
                                    <td>
                                        <a href="{% url 'tinder:detail_group' group.id %}"><i class="material-icons">visibility</i></a>
                                        {% if group.leader == user.profile %}
                                            <a href="{% url 'tinder:edit_group' group.id%}"><i class="material-icons">edit</i></a>
                                            <a href="{% url 'tinder:delete_group' group.id%}"><i class="material-icons">delete</i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for group in member %}
                                <tr>
                                    <td>
                                        <a href="{% url 'tinder:detail_group' group.id%}">
                                            {{ group.name }}
                                        </a>
                                    </td>
                                    <td>{{ group.leader }}</td>
                                    <td>{{ group.get_number_of_members}}</td>
                                    <td>
                                        {% if group.leader == user.profile %}
                                            <a href="{% url 'tinder:edit_group' group.id%}"><i class="material-icons">edit</i></a>
                                        {% endif %}
                                        <a href="{% url 'tinder:detail_group' group.id%}"><i class="material-icons">visibility</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>Não há nenhum grupo para mostar😢<br>Mas você pode criá-lo!</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
